body, h2, p{
  margin: 0;
  padding: 0;
}

body{
  padding:3em;
  background-color: blueviolet;
}

header img{
  width: 18%;
}

main{
  display: flex;
  justify-content: space-between;
  margin-top:2em;
}

main img{
  width: 50%;
}


.content{
  width: 35%;
  padding-top: 2em;
  margin: 0 100px 0 5px;
}

.content h2{
  font-size:45px;
  color: white;
}

.content p{
  font-size:15px;
  color: white;
  margin: 2em 0em;
}

main button{
  padding: 1em;
  border: none;
  border-radius:30px;
  color: purple;
  width: 40%;
}

footer{
  margin-top: 1em;;
}

.fab{
  color: white;
  width: 18px;
  float: right;
  border: 1px solid white;
  border-radius:50%;
  padding: 0.4em;
  margin-left: 0.6em;
}